@import url(../libs/mdb-ui-kit/css/mdb.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// container задан 1220px чтобы при использовании сайта на телефоне,контент не прилегал к краям устройства.
.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

body {
    color: #1B1818;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Roboto Condensed', sans-serif;
    // font-family: 'Fire Sans', sans-serif;
}

@import "../scss/header";
@import "../scss/about-us";
@import "../scss/rent";
@import "../scss/advantages";
@import "../scss/reviews";
@import "../scss/request";
@import "../scss/footer";
@import "../scss/media";