@import url(../libs/mdb-ui-kit/css/mdb.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

body {
  color: #1B1818;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  font-family: 'Roboto Condensed', sans-serif;
}

.header {
  width: 1400px;
  background: #332208;
  margin: 0 auto;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.header .nav__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .nav__item {
  margin: 0 15px;
  list-style-type: none;
}

.header .nav__link-link {
  text-transform: uppercase;
  color: #FEFEFE;
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 5px;
  -webkit-transition: all .5s;
  transition: all .5s;
  border-bottom: 1px solid transparent;
}

.header .nav__link-link:hover {
  border-bottom: 1px solid #FEFEFE;
}

.header__phone {
  color: #FEFEFE;
  font-size: 18px;
  line-height: 21px;
}

.header__phone:hover {
  color: #FEFEFE;
}

.about-us__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0 30px;
}

.about-us__content {
  text-align: center;
  padding-top: 90px;
  width: 50%;
}

.about-us__title {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 41px;
  line-height: 58px;
  margin-bottom: 20px;
}

.about-us__subtitle {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 28px;
  margin-bottom: 75px;
}

.about-us__btn {
  text-transform: uppercase;
  color: #fff;
  padding: 16px 19px;
  background: #C5AC2D;
  border: 1px solid transparent;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.about-us__btn:hover {
  color: #C5AC2D;
  background: #fff;
  border: 1px solid #C5AC2D;
}

.about-us__slider {
  width: 50%;
}

.about-us__slider .slick-dots {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.about-us__slider-text {
  padding-right: 100px;
  text-align: right;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
}

.about-us__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about-us__item {
  border: 1px solid #1B1818;
  width: 150px;
  height: 150px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.about-us__item:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.about-us__item-img {
  margin: 10px 0;
}

.about-us__links {
  padding-right: 80px;
}

.about-us__link {
  color: #1B1818;
  border-bottom: 1px solid #1b1818;
  margin-right: 20px;
}

.about-us__link:last-child {
  margin-right: 0;
}

.about-us__link:hover {
  color: #1B1818;
}

.rent {
  margin-top: 125px;
}

.rent .row .col {
  max-width: 250px;
  height: 350px;
  border: 1px solid #1b1818;
  margin-left: 50px;
}

.rent .row .col:first-child {
  min-width: 300px;
  height: 0;
  border: none;
  margin-left: 0;
}

.rent .row .col .wrapper__num {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 99px;
  line-height: 115px;
  text-align: center;
  color: #1b181810;
  padding-bottom: 20px;
}

.rent .row .col .wrapper__title {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 20px;
}

.rent .row .col .wrapper__title-text {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding: 0 25px 0 25px;
}

.rent .row .col .wrapper__subtitle {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  padding-bottom: 20px;
}

.rent .row .col .wrapper__subtitle-text {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  padding: 10px 25px 0 25px;
}

.rent .row .col .wrapper__descr {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  padding-bottom: 33px;
}

.rent .row .col .wrapper__btn {
  text-transform: uppercase;
  color: #fff;
  padding: 16px 19px;
  background: #C5AC2D;
  border: 1px solid transparent;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.rent .row .col .wrapper__btn:hover {
  color: #C5AC2D;
  background: #fff;
  border: 1px solid #C5AC2D;
}

.advantages {
  padding-top: 110px;
}

.advantages__title {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.advantages .row {
  padding-top: 45px;
}

.advantages .row .col .wrapper__content {
  padding-top: 50px;
  text-align: right;
}

.advantages .row .col .wrapper__subtitle {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 30px;
}

.advantages .row .col .wrapper__video {
  background: #C5AC2D;
  text-transform: uppercase;
  color: #fefefe;
  padding: 6px 34px 6px 64px;
  text-align: center;
  display: inline-block;
  position: relative;
}

.advantages .row .col .wrapper__video::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  background: url(../image/advantages/PLAY.svg);
  top: 12px;
  left: 34px;
}

.advantages .row .col .wrapper__descr {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 30px;
}

.advantages .row .col .wrapper__list {
  list-style: none;
  padding-top: 50px;
  padding-left: 0;
}

.advantages .row .col .wrapper__list-item {
  margin-bottom: 25px;
  padding-right: 25px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  position: relative;
}

.advantages .row .col .wrapper__list-item::before {
  position: absolute;
  content: "";
  background: #000;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: 2px;
  right: 0;
}

.advantages .row .col .wrapper__list-item:nth-child(1), .advantages .row .col .wrapper__list-item:nth-child(7) {
  margin-left: 10px;
}

.advantages .row .col .wrapper__list-item:nth-child(2), .advantages .row .col .wrapper__list-item:nth-child(6) {
  margin-right: 40px;
}

.advantages .row .col .wrapper__list-item:nth-child(3), .advantages .row .col .wrapper__list-item:nth-child(5) {
  margin-right: 80px;
}

.advantages .row .col .wrapper__list-item:nth-child(4) {
  margin-right: 120px;
}

.reviews {
  width: 1400px;
  margin: 0 auto;
  padding: 100px 0;
  background: #332208;
  color: #fefefe;
}

.reviews__title {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 70px;
}

.reviews__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__slider .slick-dots button {
  background: #C5AC2D;
  margin: 0 5px;
  line-height: 12px;
}

.reviews__slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 38%;
  top: 100%;
  margin-top: 35px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.reviews__item {
  width: 270px;
  height: 300px;
  border: 1px solid #C5AC2D;
  margin-right: 30px;
  padding: 46px 31px 45px 30px;
  text-align: center;
}

.reviews__item:last-child {
  margin-right: 0;
}

.reviews__item__item-content__item-subtitle {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 45px;
}

.reviews__item__item-content__item-descr {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.request {
  padding-top: 100px;
}

.request .row .col .wrapper__title {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  padding-top: 100px;
}

.request .row .col .wrapper__subtitle {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.request .row .col .wrapper__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.request .row .col .wrapper__input {
  width: 80%;
  padding: 20px 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.request .row .col .wrapper__btn {
  margin-top: 50px;
  width: 200px;
  height: 50px;
  background: #C5AC2D;
  text-transform: uppercase;
  color: #fff;
  border: none;
}

.footer {
  width: 1400px;
  height: 200px;
  background: #332208;
  margin: 0 auto;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  padding-top: 100px;
}

.footer__btn {
  text-transform: uppercase;
  color: #fff;
  padding: 16px 19px;
  background: #C5AC2D;
  border: 1px solid transparent;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.footer__btn:hover {
  color: #C5AC2D;
  background: #fff;
  border: 1px solid #C5AC2D;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  list-style: none;
}

.footer__social-item {
  margin-left: 15px;
}

.footer .fab {
  color: #C5AC2D;
}

.footer .nav__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .nav__item {
  margin: 0 15px;
  list-style-type: none;
}

.footer .nav__link-link {
  text-transform: uppercase;
  color: #FEFEFE;
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 5px;
  -webkit-transition: all .5s;
  transition: all .5s;
  border-bottom: 1px solid transparent;
}

.footer .nav__link-link:hover {
  border-bottom: 1px solid #FEFEFE;
}

.footer__phone {
  color: #FEFEFE;
  font-size: 18px;
  line-height: 21px;
}

.footer__phone:hover {
  color: #FEFEFE;
}
/*# sourceMappingURL=style.css.map */