.about-us {
    &__top {
        display: flex;
        padding: 50px 0 30px;
    }

    &__content {
        text-align: center;
        padding-top: 90px;
        width: 50%;
    }

    &__title {
        font-family: 'Fira Sans', sans-serif;
        font-weight: 500;
        font-size: 41px;
        line-height: 58px;
        margin-bottom: 20px;
    }

    &__subtitle {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 400;
        font-size: 30px;
        line-height: 28px;
        margin-bottom: 75px;
    }

    &__btn {
        text-transform: uppercase;
        color: #fff;
        padding: 16px 19px;
        background: #C5AC2D;
        border: 1px solid transparent;
        transition: all .5s;

        &:hover {
            color: #C5AC2D;
            background: #fff;
            border: 1px solid #C5AC2D;
        }
    }

    &__slider {
        width: 50%;
    }

    &__slider .slick-dots {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &__slider-text {
        padding-right: 100px;
        text-align: right;
        font-family: 'Fira Sans', sans-serif;
        font-weight: 500;
    }

    &__bottom {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__items {
        display: flex;
        width: 50%;
        justify-content: space-around;
    }

    &__item {
        border: 1px solid #1B1818;
        width: 150px;
        height: 150px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;

        &:hover {
            transform: scale(1.25);
            transition: all .5s;
        }
    }

    &__item-img {
        margin: 10px 0;
    }
    &__links{
     padding-right: 80px;

    }
    &__link{
        color: #1B1818;
        border-bottom: 1px solid #1b1818;
        margin-right: 20px;
        &:last-child{
            margin-right: 0;
        }
        &:hover{
            color: #1B1818;
        }
    }
}