.advantages {
    padding-top: 110px;

    &__title {
        font-family: 'Fira Sans', sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
    }

    .row {
        padding-top: 45px;

        .col {
            
            .wrapper {
                &__content {
                    padding-top: 50px;
                    text-align: right;
                }

                &__subtitle {
                    font-family: 'Roboto Condensed', sans-serif;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 18px;
                    margin-bottom: 30px;
                }
                &__video{
                    background: #C5AC2D;
                    text-transform: uppercase;
                    color: #fefefe;
                    padding: 6px 34px 6px 64px;
                    text-align: center;
                    display: inline-block;
                    position: relative;
                &::before{
                    position: absolute;
                    content: "";
                    width: 25px;
                    height: 25px;
                    background: url(../image/advantages/PLAY.svg);
                    top: 12px;
                    left: 34px;
                }
                }

                &__descr {
                    font-family: 'Roboto Condensed', sans-serif;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 18px;
                    margin-bottom: 30px;
                }

                &__list {
                    list-style: none;
                    padding-top: 50px;
                    padding-left: 0;
                }

                &__list-item {
                    margin-bottom: 25px;
                    padding-right: 25px;
                    font-family: 'Roboto Condensed', sans-serif;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 18px;
                    position: relative;

                    &::before {
                        position: absolute;
                        content: "";
                        background: #000;
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        top: 2px;
                        right: 0;
                    }
                    &:nth-child(1), &:nth-child(7){
                        margin-left: 10px;
                        
                    }
                    &:nth-child(2), &:nth-child(6){
                        margin-right: 40px;

                    }
                    &:nth-child(3), &:nth-child(5){
                        margin-right: 80px;
                    }
                    &:nth-child(4){
                        margin-right: 120px;
                        
                    }
                }

            }
        }
    }
}