.rent {
    margin-top: 125px;

    .row {
        .col {
            max-width: 250px;
            height: 350px;
            border: 1px solid #1b1818;
            margin-left: 50px;
            &:first-child {
                min-width: 300px;
                height: 0;
                border: none;
                margin-left: 0;
            }
          

            .wrapper {
                &__num {
                    font-family: 'Fira Sans', sans-serif;
                    font-weight: 500;
                    font-size: 99px;
                    line-height: 115px;
                    text-align: center;
                    color: #1b181810;
                    padding-bottom: 20px;
                }

                &__title {
                    font-family: 'Fira Sans', sans-serif;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 28px;
                    padding-bottom: 20px;
                }
                &__title-text{
                    font-family: 'Fira Sans', sans-serif;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21px;
                    text-align: center;
                    padding: 0 25px 0 25px;
                    

                }

                &__subtitle {
                    font-family: 'Roboto Condensed', sans-serif;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 18px;
                    padding-bottom: 20px;
                }
                &__subtitle-text{
                    font-family: 'Roboto Condensed', sans-serif;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 18px;
                    text-align: center;
                    padding: 10px 25px 0 25px;
                }

                &__descr {
                    font-family: 'Roboto Condensed', sans-serif;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 18px;
                    padding-bottom: 33px;
                }

                &__btn {
                    text-transform: uppercase;
                    color: #fff;
                    padding: 16px 19px;
                    background: #C5AC2D;
                    border: 1px solid transparent;
                    transition: all .5s;
                    
                    &:hover {
                        color: #C5AC2D;
                        background: #fff;
                        border: 1px solid #C5AC2D;
                    }
                }
            }
        }
    }
}