.request {
    padding-top: 100px;

    .row {
       

        .col {
            .wrapper {

                &__title {
                    font-family: 'Fira Sans', sans-serif;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 28px;
                    padding-top: 100px;
                }

                &__subtitle {
                    font-family: 'Roboto Condensed', sans-serif;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 18px;
                }

                &__form {
                    display: flex;
                    flex-direction: column;
                }

                &__input {
                    width: 80%;
                    padding: 20px 10px;
                    outline: none;
                    border: none;
                    border-bottom: 1px solid rgba(0, 0, 0, .1);
                }

                &__btn {
                    margin-top: 50px;
                    width: 200px;
                    height: 50px;
                    background: #C5AC2D;
                    text-transform: uppercase;
                    color: #fff;
                    border: none;
                    
                }
            }
        }
    }
}