.reviews{
    width: 1400px;
    margin: 0 auto;
    padding: 100px 0;
    background: #332208;
    color: #fefefe;
    &__title{
        font-family: 'Fira Sans', sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 70px;
        
    }
    &__slider{
        display: flex;
    }
    &__slider .slick-dots button {
        background: #C5AC2D;
        margin: 0 5px;
        line-height: 12px;
    }
    &__slider .slick-dots {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 38%;
        top: 100%;
        margin-top: 35px;
        transform: translateX(-50%);
    }
        &__item{ 
            width: 270px;
            height: 300px;
            border: 1px solid #C5AC2D;
            margin-right: 30px;
            padding: 46px 31px 45px 30px;
            text-align: center;
            &:last-child{
                margin-right: 0;
            }
            &__item-content{
                
                &__item-subtitle{
                    font-family: 'Fira Sans', sans-serif;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 28px;
                    margin-bottom: 45px;
                }
                &__item-descr{
                    font-family: 'Roboto Condensed', sans-serif;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 18px;
                }
            }
        }
    
}